  
    body {
      background-image: url("../images/option2_hintergrund.png");
      background-size: cover;
      background-position: center center;
        background-repeat: no-repeat;
      background-attachment: fixed;
      height: 100%;

    }
  